<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>A look beyond the sky !</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <!-- <ion-list>
    <ion-item *ngFor="let page of pages">
      <ion-card (click)="navigate(page)">
        <img src="{{page.imgPath}}" />
        <ion-card-content>
          <ion-card-title>
            {{page.title}}
          </ion-card-title>
          <p>
            {{page.title}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list> -->
  <ion-card *ngIf="nextIsLoaded">
    <ion-card-header>
      Next launch
    </ion-card-header>
    <ion-item>
      <div class="centered-item">
          <b>{{days}}:{{hours}}:{{minutes}}:{{seconds}}</b>
      </div>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>
          Flight number
        </ion-label>
        <div item-content>
          {{nextLaunch.flight_number}}
        </div>
        <!-- <ion-note item-end>
            
          </ion-note> -->
      </ion-item>
      
      <ion-item>
        <ion-label>
          Launch date
        </ion-label>
        <div item-content>
          {{nextLaunch.launch_date_utc | date:'dd/MM/yyyy HH:MM'}}
        </div>
      </ion-item>
      <button ion-item (click)="openNextLauch()">
        More informations
      </button>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="lastIsLoaded">
      <ion-card-header>
        Last launch
      </ion-card-header>
      <ion-item>
        <div class="centered-item">
            <b>{{lastLaunch.launch_date_utc | date:'dd/MM/yyyy HH:MM'}}</b>
        </div>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>
            Flight number
          </ion-label>
          <div item-content>
            {{lastLaunch.flight_number}}
          </div>
          <!-- <ion-note item-end>
              
            </ion-note> -->
        </ion-item>
        
        <ion-item>
          <ion-label>
            Success
          </ion-label>
          <div item-content [ngStyle]="{'color' : ((lastLaunch.launch_success)?'green':'red')}">
            <ion-icon name="{{((lastLaunch.launch_success)?'checkmark-circle':'ios-close-circle')}}"></ion-icon>
          </div>
        </ion-item>
        <button ion-item (click)="openNextLauch()">
          More informations
        </button>
      </ion-list>
    </ion-card>
</ion-content>