page-home {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px 100px 0px 100px;
  }
}

ion-img{
    img{
        margin-left: auto;
        margin-right: auto;
    }
}
